@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h1>BusInfo</h1>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    @if (!Model.ValidatePostcode())
    {
        <p>Invalid postcode</p>
    }
    else
    {
        foreach (var stop in Model.GetStops())
        {
            var busList = Model.GetDeparturesAtStop(stop);
            <div>
                <h2>@stop.name</h2>
                <table class="table">
                  <thead>
                    <tr class="d-flex">
                      <th scope="col" class = "col-1">Line</th>
                      <th scope="col" class = "col-4">Destination</th>
                      <th scope="col" class = "col-1">Time</th>
                      <th scope="col" class = "col-1">Expected</th>
                      <th scope="col" class = "col-5">Route</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                  @foreach (var bus in busList)
                  {
                      <tr class="d-flex @((bus.aimed_departure_time!=bus.expected_departure_time && bus.expected_departure_time!=null) ? "table-danger" : "")">
                          <th scope="row" class = "col-1">@bus.line</th>
                          <td class = "col-4">@bus.direction</td>
                          <td class = "col-1">@bus.aimed_departure_time</td>
                          <td class = "col-1">@bus.expected_departure_time</td>
                          <td class="col-5">
                              <div class="marquee">
                                  <p>@Model.GetRoute(bus)</p>
                              </div>
                          </td>
                      </tr>
                  }
                  </tbody>
                </table>
            </div>
        }
    }
    
</div>
