@using BusBoard.Api
@model global::BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h1>Bussin'Info</h1 >

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    @if (!Model.ValidatePostcode())
    {
        <p>Invalid postcode</p>
    }
    else
    {
        foreach (var stop in Model.GetStops())
        {
            var busList = Model.GetDeparturesAtStop(stop);
            <div class="pb-4">
                <h2>@stop.name</h2>
                <table class="table table-hover" style="table-layout: fixed">
                    <thead>
                    <tr class="d-flex">
                        <th scope="col" class = "col-1">Line</th>
                        <th scope="col" class = "col-4">Destination</th>
                        <th scope="col" class = "col-1">Time</th>
                        <th scope="col" class = "col-1">Expected</th>
                        <th scope="col" class = "col-5">Route</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    @{Dictionary<BusData, string> dictionary = Model.FindMaxRouteLength(busList);}
                    @{ double longestLength = dictionary.Values.Select(o => o.Length).Max();}
                    @foreach (var bus in busList)
                    {
                        double dynamicPercentage = -105 * longestLength / dictionary[bus].Length;
                        var routeString = dictionary[bus];
                        <tr class="d-flex @((bus.aimed_departure_time != bus.expected_departure_time && bus.expected_departure_time != null) ? "table-danger" : "")">
                            <th scope="row" class="col-1">@bus.line</th>
                            <td class="col-4">@bus.direction</td>
                            <td class="col-1">@bus.aimed_departure_time</td>
                            <td class="col-1">@bus.expected_departure_time</td>
                            <td class="col-5">
                                <div class="marquee" style="--percentage:@(dynamicPercentage)%">
                                    <p style="animation: marquee @(longestLength/7)s linear infinite;">@routeString</p>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    }
    
</div>
<script>
    window.onload = setTimeout(DoEveryThirty,30000);
    async function DoEveryThirty(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var postcode = urlParams.get('Postcode');
        await fetch(location.origin + "/Home/BusInfo?Postcode="+postcode).then(data => {return data.text()}).then(body => {
            document.open();
            document.write(body);
            document.close();
        })
        console.log("I'm doing something!");
    }
</script>
